.Page {
    min-height: 100vh;
    width: 100%;
    margin-top: -2rem;
    background-color: #393e46;
}

.Form {
    width: 85%;
    margin: 0 auto;
    padding-top: 7.5rem;
}

.Container {
    padding-bottom: 2px;
}

.ErrorText {
    line-height: 1.4;
    margin-bottom: 1.2rem;
    color: white;
}

@media (min-width: 650px) {
    .Form {
        width: 35rem;
        padding-top: 8rem;
    }

    .Container {
        margin-top: 4rem;
        padding: 0 12px;
        max-height: 15rem;
    }

    .ErrorText {
        font-size: 1.3rem;
        letter-spacing: 0.2px;
        line-height: 28px;
    }
}
