.ResetContainer {
    margin-top: 4px;
    /* margin-left: 8px; */
}

.LoginForm {
    width: 80%;
    margin: auto;
}

.Form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Reset {
    margin-top: 1rem;
    margin-left: 0.5rem;
    color: #eeeeee;
}

.resetButton {
    color: #ffd369;
    text-decoration: none;
    font-size: 16px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.title {
    color: #eeeeee;
}

@media (min-width: 650px) {
    .Form {
        width: 60%;
        margin: 2rem auto;
    }

    .resetButton:hover {
        color: #ffd369;
    }
}
