.FormContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.FormCard {
    height: 95%;
    margin: 3% auto;
    padding: 12px;
    background-color: #222831;
    border-radius: 6px;
    width: 95%;
}

.ImageCenter {
    margin: 0 auto;
}

.Center {
    display: flex;
    justify-content: space-around;
    margin: 32px auto 0;
}

.Title {
    margin-top: 0;
    color: #ffd369;
    width: fit-content;
    margin-bottom: 16px;
}
